

@media screen and (max-width:3000px) {
	.header_block
		{
			font-family: arial; 
			color: #A92725;
			font-size: 30px;
		}}
		
@media screen and (max-width:1200px) {
	.header_block
		{
			font-size: 25px;
		}}